/* Página rafael.html */
/* Paleta de cores da página:

Branco: #FFFFFF
Azul escuro: #021B22
Preto: #000000
Azul mar: #185B65


/* Estilo da tipografia */
/* Normalização */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

h1 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
}

p {
    font-size: 12px;
    padding: 10px;
    font-weight: 700;
}

/* Estilo da página */
/* Cabeçalho */
header {
    background-color: #021b22;
    width: 100vw;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: white;
}

header img {
    width: auto;
    padding: 10px;
}

/* Nav */
/* Menu de navegação */

nav ul li a {
    padding: 5px;
    text-decoration: none;
    display: block;
    color: #FFF
}

nav ul.dropdown {
    display: none;
    position: relative;
    z-index: 999;
    width: auto;
    overflow-y: hidden;
}

nav ul.dropdown li {
    display: inline;
    border-top:1px solid #FFF;
    padding:5px;
    margin: 2px 0px;
}

nav ul.dropdown li a {
    display: inline;
}

.dropdown li a:hover{
    text-decoration: underline;
}

/* Abrir menu dropdown */
nav img:hover {
    cursor: pointer;
    display:none;

}
nav img:hover + ul.dropdown{
    display:flex;
    flex-flow:column;
    position:absolute;
    right:0;
    top:68px;
    background-color: #021b22;
    
}


/* Rodapé */
footer {
    background-color: #021b22;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#contato {
    max-width: 50vw;
    border: 1px solid #185B65;
    padding: 10px;
    background-color: #185B65;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    transition: ease 1s;
}

#contato:hover{
    color:#021b22;
    background-color: white;
}

.social {
    /* Deixar responsivo para desktop */
    padding: 10px;
    margin: 10px;
    width: 20vw;
    display: flex;
    justify-content: space-evenly;
    width: 30vw;
    transition:ease 1s;
    /* border: 1px solid white; */
}

.social a:hover{
    transform: scale(1.2, 1.2)
}

/* Parte principal da página */
/* Article */
article {
    padding: 20px;
}


/* Foto */
.image img {
    width: 270px;
    border-radius: 50%;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 10px;

}

/* Cards */

/* Container dos cards */
.container {
    padding: 20px;
}

.card img {
    width: 30vw;
    border-radius: 5px;
}

.card {
    width: 120px;
    height: 200px;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px;
    font-weight: 800;
    font-size: 12px;
    background-color: gray;
    box-shadow: 2px 2px 1px #252525;
}

.cards,
ol {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

/* Ordem nos 1º, 2º e 3º card da lista ordenada */
.ord{
    background-color: #185B65;
    border-radius: 0px 0px 10px 10px;
    position: relative;
    bottom:150px;
    right:40px;
    z-index: 999;
}

/* Media Queries */
@media only screen and (min-width:900px) {
    .image {
        /* border:1px solid black; */
        display: inline;
    }

    .texto {
        display: inline;
    }

    article {
        display: flex;
        flex-flow: row;
        align-items: center;
    }
}

@media only screen and (min-width:700px) {
    footer {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;

    }

    #contato {
        margin-right: 5%;
        margin-top: 0px;;
    }

    /* Header */
    nav img {
        display: none;

    }

    ul.dropdown {
        display: block !important;

    }

}